/* footer */
.container-fluid{
    position: relative;
    font-weight: bold;
}
.content-footer{
	background-color: #e9ecef;
}
.logo{
    display: block;
    padding: 0 17px;
    margin: 0;
    position: relative;
    z-index: 2100;
    height: 100px;
    width: 250px;
}
.about{
	font-size: 17px;
    line-height: 30px;
}
.copyright{
	font-size: 17px;
    line-height: 30px;
    padding-top: 35px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.text-footer{
    padding: 10px;
}
