<div>
  <router-outlet></router-outlet>
</div>

<div class="container-fluid content-footer">
    <div class="row logo-footer">
      <div class="col-sm-4 col-md-2">
        <img class="logo" src="https://www.fpt-software.com/wp-content/uploads/sites/2/2018/03/logo_white.svg"
          alt="FPT SoftWare">
      </div>
    </div>
    <div class="row text-footer">
      <div class="col-md-6 about">

        Hà Nội: <br>
        
        Tòa nhà FPT, 17 Duy Tân, quận Cầu Giấy, Hà Nội  <br>
        
        Fville – khu công nghệ cao Hòa Lạc, Thạch Thất, Hà Nội <br>

        Trụ sở chính: Tầng 7, tòa nhà Toyota, 315 Trường Chinh, Thanh Xuân, Hà Nội <br>

        Email: FA.HN@fsoft.com.vn <br>

        Theo dõi chúng tôi trên Fanpage <br>
        
        <a href="https://www.facebook.com/FPTSoftware.tuyendung/">https://www.facebook.com/FPTSoftware.tuyendung/</a>
      </div>
      <div class="col-md-5 copyright">
        <div>
           © FPT SOFTWARE ., JSC. All rights reserved
        </div>
      </div>
    </div>
</div>