<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a [routerLink]="[ '/list' ]"><img class="logo"
            src="https://www.fpt-software.com/wp-content/uploads/sites/2/2018/03/logo_white.svg" alt="FPT SoftWare"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link link-create" [routerLink]="[ '/list' ]">List Shipment <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <h1 class="create-header"> Create Shipment</h1>
        <form [formGroup]="shipmentForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-primary" >
                        <div class="card-header">Sender</div>
                        <div class="card-body text-primary">
                            <div class="form-group">
                                <label>Name *</label>
                                <input type="text" name="nameSender" placeholder="Cristiano Ronaldo"
                                    formControlName="nameSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.nameSender.errors }" />
                                <div *ngIf="submitted && f.nameSender.errors" class="invalid-feedback">
                                    <div *ngIf="f.nameSender.errors.required">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="text"  name="emailSender" placeholder="laredoute@example.com"
                                    formControlName="emailSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailSender.errors }" />
                                <div *ngIf="submitted && f.emailSender.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailSender.errors.required">Email is required</div>
                                    <div *ngIf="f.emailSender.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone *</label>
                                <input type="number" ngModel minlength="10" name="phoneSender" placeholder="0986586596" formControlName="phoneSender"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneSender.errors }" />
                                <div *ngIf="submitted && f.phoneSender.errors" class="invalid-feedback">
                                    <div *ngIf="f.phoneSender.errors.required">Phone is required</div>
                                    <div *ngIf="f.phoneSender.errors.minlength">Phone must be at least 10 characters</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Address *</label>
                                <input type="text" name="addressSender" placeholder="Rue Jean Jaures"
                                    formControlName="addressSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.addressSender.errors }" />
                                <div *ngIf="submitted && f.addressSender.errors" class="invalid-feedback">
                                    <div *ngIf="f.addressSender.errors.required">Address is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Locality *</label>
                                <input type="text" name="localitySender" placeholder="Anzin" formControlName="localitySender"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.localitySender.errors }" />
                                <div *ngIf="submitted && f.localitySender.errors" class="invalid-feedback">
                                    <div *ngIf="f.localitySender.errors.required">Locality is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Postal code *</label>
                                <input type="number" name="postalcodeSender" placeholder="59410"
                                    formControlName="postalcodeSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.postalcodeSender.errors }" />
                                <div *ngIf="submitted && f.postalcodeSender.errors" class="invalid-feedback">
                                    <div *ngIf="f.postalcodeSender.errors.required">Postal code is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Country *</label>
                                <select name="countrySender" formControlName="countrySender" class="form-control">
                                    <option value="FR">FR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-primary">
                        <div class="card-header">Receiver</div>
                        <div class="card-body text-primary">
                            <div class="form-group">
                                <label>Name *</label>
                                <input type="text" name="nameReceiver" placeholder="Marquise de Pompadour"
                                    formControlName="nameReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.nameReceiver.errors }" />
                                <div *ngIf="submitted && f.nameReceiver.errors" class="invalid-feedback">
                                    <div *ngIf="f.nameReceiver.errors.required">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="text" name="emailReceiver" placeholder="marquise-de-pompadour@example.com"
                                    formControlName="emailReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailReceiver.errors }" />
                                <div *ngIf="submitted && f.emailReceiver.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailReceiver.errors.required">Email is required</div>
                                    <div *ngIf="f.emailReceiver.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone *</label>
                                <input type="number" name="phoneReceiver" placeholder="0999999999"
                                    formControlName="phoneReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phoneReceiver.errors }" />
                                <div *ngIf="submitted && f.phoneReceiver.errors" class="invalid-feedback">
                                    <div *ngIf="f.phoneReceiver.errors.required">Phone is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Address *</label>
                                <input type="text" name="addressReceiver" placeholder="175 Rue de Rome"
                                    formControlName="addressReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.addressReceiver.errors }" />
                                <div *ngIf="submitted && f.addressReceiver.errors" class="invalid-feedback">
                                    <div *ngIf="f.addressReceiver.errors.required">Address is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Locality *</label>
                                <input type="text" name="localityReceiver" placeholder="Marseille"
                                    formControlName="localityReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.localityReceiver.errors }" />
                                <div *ngIf="submitted && f.localityReceiver.errors" class="invalid-feedback">
                                    <div *ngIf="f.localityReceiver.errors.required">Locality is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Postal code *</label>
                                <input type="number" name="postalcodeReceiver" placeholder="13006"
                                    formControlName="postalcodeReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.postalcodeReceiver.errors }" />
                                <div *ngIf="submitted && f.postalcodeReceiver.errors" class="invalid-feedback">
                                    <div *ngIf="f.postalcodeReceiver.errors.required">Postal code is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Country *</label>
                                <select name="countryReceiver" formControlName="countryReceiver" class="form-control">
                                    <option value="FR">FR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-primary">
                        <div class="card-header">Package</div>
                        <div class="card-body text-primary">
                            <div class="form-group">
                                <label>Length *</label>
                                <input type="number" name="length" placeholder="unit: cm" formControlName="length"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.length.errors }" />
                                <div *ngIf="submitted && f.length.errors" class="invalid-feedback">
                                    <div *ngIf="f.length.errors.required">Length is required</div>
                                    <div *ngIf="f.length.errors">Length > 0</div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label>Width *</label>
                                <input type="number" name="width" placeholder="unit: cm" formControlName="width"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.width.errors }" />
                                <div *ngIf="submitted && f.width.errors" class="invalid-feedback">
                                    <div *ngIf="f.width.errors.required">Width is required</div>
                                    <div *ngIf="f.width.errors">Width > 0</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Height *</label>
                                <input type="number" name="height" placeholder="unit: cm" formControlName="height"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
                                <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                                    <div *ngIf="f.height.errors.required">Height is required</div>
                                    <div *ngIf="f.height.errors">Width > 0</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Weight *</label>
                                <input type="number" name="weight" placeholder="unit: kg" formControlName="weight"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }" />
                                <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                                    <div *ngIf="f.weight.errors.required">Weight is required</div>
                                    <div *ngIf="f.weight.errors">Width > 0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4">
                    <div class="alert alert-primary cost-title" role="alert">
                        <label class="title-cost">Cost (USD)</label>
                        <input type="number" disabled name="cost" formControlName="cost" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-quote" type="submit" name="getQuote">GetQuote</button>
            </div>
            <div class="form-group" *ngIf="isQuote">
                <button class="btn btn-primary" (click)="onCreate()" name="createshipment">Create Shipment</button>
            </div>
        </form>
    </div>
</div>

