<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">FPT SoftWare</a> -->
    <a [routerLink]="[ '/list' ]"><img class="logo" src="https://www.fpt-software.com/wp-content/uploads/sites/2/2018/03/logo_white.svg" alt="FPT SoftWare"></a>   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link link-create" [routerLink]="[ '/create' ]">Create Shipment <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link link-create" [routerLink]="[ '/payment' ]">Payment</a>
            </li>
        </ul>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-inline my-1">
            <div class="md-form form-sm my-0">
                <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" aria-label="Search"
                    name="search" formControlName="search">
            </div>
            <button class="btn btn-outline-white btn-sm my-0 btn-search" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="jumbotron">
    <div class="container-fluid information-shipment">
        <h1 class="create-header"> List Shipment</h1>
        <div class="row">
            <input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="term" name="userFilter" class="form-control" placeholder="name">
            <table class="table table-bordered table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Ref</th>
                        <th>Sender Name</th>
                        <th>Sender Email</th>
                        <th>Sender Country</th>
                        <th>Receiver Name</th>
                        <th>Receiver Email</th>
                        <th>Receiver Country</th>
                        <th>Amount</th>
                        <th>Cost</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of shipments | paginate: { itemsPerPage: 5, currentPage: p } | filter:term">
                        <td>{{item.ref}}</td>
                        <td>{{item.data.origin.contact.name}}</td>
                        <td>{{item.data.origin.contact.email}}</td>
                        <td>{{item.data.origin.address.country_code}}</td>
                        <td>{{item.data.destination.contact.name}}</td>
                        <td>{{item.data.destination.contact.email}}</td>
                        <td>{{item.data.destination.address.country_code}}</td>
                        <td>{{item.data.package.grossWeight.amount}}</td>
                        <td>{{item.cost}}</td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="getShipmentById(item.ref)">Show</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="editShipment(item.ref)">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteShipment(item.ref)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
