.logo{
    display: block;
    padding: 0 17px;
    margin: 0;
    position: relative;
    z-index: 2100;
    height: 50px;
    width: 200px;
}

.navbar{
    background: #082352 !important;
}

.create-header{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}
.btn-search {
    background-color: white;
    color: red;
    font-weight: bold;
}
.link-create{
    color: rgba(243, 112, 33, 1) !important;
    font-weight: bold;
    text-transform: uppercase;
}

.link-create:hover{
    text-decoration: underline;
}


table {
    font-size: 16px;
}
table button{
    font-size: 16px;
}

table thead tr {
    text-align: center;
}
table tbody tr td{
    text-align: center;
    line-height: 1.5;
}
table tbody tr td button{
    width: 80%;
    text-align: center;
}

