<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a [routerLink]="[ '/list' ]"><img class="logo"
            src="https://www.fpt-software.com/wp-content/uploads/sites/2/2018/03/logo_white.svg" alt="FPT SoftWare"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link link-create" [routerLink]="[ '/list' ]">List Shipment <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link link-create" [routerLink]="[ '/create' ]">Create Shipment <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <h1 class="create-header">Shipment Information</h1>
        <div *ngIf="alertMessenger" class="alert alert-warning">
            <strong>Sorry! </strong> Ref Shipment: {{id}} doesn't not exist.
            <a class="back-to-list" [routerLink]="[ '/list' ]">Back to list</a>
        </div>
        <form [formGroup]="getForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-primary">
                        <div class="card-header">Sender</div>
                        <div class="card-body text-primary">
                            <div class="form-group">
                                <label>Name *</label>
                                <input type="text" disabled name="nameSender" placeholder="fsoft" formControlName="nameSender"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nameSender.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="text" disabled name="emailSender" placeholder="abc@gmail.com"
                                    formControlName="emailSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailSender.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Phone *</label>
                                <input type="number" disabled name="phoneSender" placeholder="0798765432"
                                    formControlName="phoneSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phoneSender.errors }" />
                            </div>

                            <div class="form-group">
                                <label>Address *</label>
                                <input type="text" disabled name="addressSender" placeholder="address"
                                    formControlName="addressSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.addressSender.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Locality *</label>
                                <input type="text" disabled name="localitySender" placeholder="locality"
                                    formControlName="localitySender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.localitySender.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Postal code *</label>
                                <input type="number" disabled name="postalcodeSender" placeholder="postalcode"
                                    formControlName="postalcodeSender" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.postalcodeSender.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Country *</label>
                                <select name="countrySender" disabled formControlName="countrySender" class="form-control">
                                    <option value="FR">FR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-4">
                    <div class="card border-primary">
                        <div class="card-header">Receiver</div>
                        <div class="card-body text-primary">
                            <div class="form-group">
                                <label>Name *</label>
                                <input type="text" disabled name="nameReceiver" placeholder="fsoft"
                                    formControlName="nameReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.nameReceiver.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="text" disabled name="emailReceiver" placeholder="abc@gmail.com"
                                    formControlName="emailReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailReceiver.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Phone *</label>
                                <input type="number" disabled name="phoneReceiver" placeholder="0999999999"
                                    formControlName="phoneReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phoneReceiver.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Address *</label>
                                <input type="text" disabled name="addressReceiver" placeholder="address"
                                    formControlName="addressReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.addressReceiver.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Locality *</label>
                                <input type="text" disabled name="localityReceiver" placeholder="locality"
                                    formControlName="localityReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.localityReceiver.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Postal code *</label>
                                <input type="number" disabled name="postalcodeReceiver" placeholder="postalcode"
                                    formControlName="postalcodeReceiver" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.postalcodeReceiver.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Country *</label>
                                <select name="countryReceiver" disabled formControlName="countryReceiver" class="form-control">
                                    <option value="FR">FR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-4">
                    <div class="card border-primary">
                        <div class="card-header">Package</div>
                        <div class="card-body text-primary">
                            <div class="form-group">
                                <label>Length *</label>
                                <input type="number" disabled name="length" placeholder="cm" formControlName="length"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.length.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Width *</label>
                                <input type="number" disabled name="width" placeholder="cm" formControlName="width"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.width.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Height *</label>
                                <input type="number" disabled name="height" placeholder="cm" formControlName="height"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
                            </div>
                            <div class="form-group">
                                <label>Weight *</label>
                                <input type="number" disabled name="weight" placeholder="kg" formControlName="weight"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-ref">
                <div class="col-md-4">
                    <div class="alert alert-primary cost-title" role="alert">
                        <label class="title-cost">Ref</label>
                        <input type="text" disabled name="ref" formControlName="ref" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-primary cost-title" role="alert">
                        <label class="title-cost">Cost (USD)</label>
                        <input type="number" disabled name="cost" formControlName="cost" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" routerLink="/list" type="submit" name="getQuote">Back</button>
            </div>
        </form>

    </div>
</div>