.cost-title{
    font-weight: bold;
}

.logo{
    display: block;
    padding: 0 17px;
    margin: 0;
    position: relative;
    z-index: 2100;
    height: 50px;
    width: 200px;
}

.navbar{
    background: #082352 !important;
}

.jumbotron {
  font-size: 16px;
  padding: 2 rem 1 rem !important;
}

.create-header{
	margin-top: 10px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}

.link-create{
    color: rgba(243, 112, 33, 1) !important;
    font-weight: bold;
    text-transform: uppercase;
}

.link-create:hover{
    text-decoration: underline;
}

.padding-ref{
    margin-top: 20px;
}

.back-to-list{
    font-weight: bold;
}

.card-header{
    font-weight: bold;
    font-size: 18px;
}