<p>payment works!</p>

<div *ngIf="!faidFor">
    <h1>Buy {{product.price}}</h1>

    <p>{{product.description}}</p>

    <img width="400px" [src]='product.img' alt="">
</div>

<div *ngIf="faidFor">
    <h1>Success</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div #paypal></div>
        </div>
    </div>
</div>
